# Prerequisites
*.d

# Compiled Models files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.idb
*.pdb
*.log
*.tlog
*.lastbuildstate
/.idea
/.VertexShader/CGProject/v17
/cmake-build-debug
*.txt
/.VertexShader/CGProject/FileContentIndex
/CGProject/x64/Debug

.VertexShader/ComputerGrafica/v17/

.VertexShader/

cmake-build-profcode/

cmake-build-withprof/
